<h1 class='title'>Results & Analysis</h1>

<div class='wrapper'>
  <p>Analyzing 
  {{select-2
    content=metrics
    value=metric
    optionLabelPath='name'
    optionValuePath='id'
    searchEnabled=false
  }}
  <a href='#' {{action 'goToAnchor' 'faq' 'metrics'}}>[?]</a>
  </p>
</div>

<div class='wrapper'>
  <div class='center'>
    <h2 class='goodwill'>Goodwill
    <a href='#' {{action 'goToAnchor' 'faq' 'goodwill'}}>[?]</a>
    </h2>
    <div {{bind-attr
    class=':goodwill totalGoodwillIsPositive:positive:negative'}}>
      {{totalGoodwill}}
    </div>
  </div>
</div>

<div class="wrapper">
  {{time-series-chart
    lineData=goodwillOverTime
  }}
</div>

{{#if metricIsNum}}
  <div class="wrapper">
    <p>
      Large pull requests: You authored
      <span class='inline-negative'>{{prSizeStats.large.negative}}</span>
      and reviewed
      <span class='inline-positive'>{{prSizeStats.large.positive}}</span>.
    </p>
    <p>
      Small pull requests: You authored
      <span class='inline-negative'>{{prSizeStats.small.negative}}</span>
      and reviewed
      <span class='inline-positive'>{{prSizeStats.small.positive}}</span>.
    </p>
  </div>
{{/if}}

{{#each stat in stats}}
  <a target='_blank' {{bind-attr href='stat.htmlUrl'}} class='pr-stat'>
    <div class='left-1'>
      <div {{bind-attr class=':loc stat.isPositive:positive:negative'}}>
        {{#if metricIsScore}}
          {{stat.score}}
        {{else}}
          {{#if metricIsNum}}
            {{stat.num}}
          {{else}}
            {{stat.loc}}
          {{/if}}
        {{/if}}
      </div>
    </div>
    <div class='right-2'>
      {{#if stat.isPositive}}
        <h4>
          You reviewed a pull request by <strong>{{stat.author}}</strong>
        </h4>
      {{else}}
        <h4>{{{stat.formattedReviewers}}} reviewed your pull request</h4>
      {{/if}}
      <h4>{{stat.formattedDate}} in {{stat.repoName}}</h4>
    </div>
  </a>
{{/each}}

<div class='button-block'>
  {{link-to 'Back' 'step.repositories' class='back-btn'}}
  {{link-to 'Home' 'index' class='home-btn'}}
</div>
