<h1 class='title'>Results & Analysis</h1>

<div class='wrapper'>
  <p class='high-text'>Analyzing 
  {{select-2
    content=metrics
    value=metric
    optionLabelPath='name'
    optionValuePath='id'
    searchEnabled=false
  }}
  , {{metricDescription}}.
  {{link-to '[?]' 'faq' (query-params anchor='metrics')}}
  </p>
  <p>
    You gain goodwill points when you review code for your team, and lose points
    when they review your code.
  </p>
</div>

<div class='wrapper'>
  <div class='center'>
    <h2 class='goodwill'>Goodwill
    {{link-to '[?]' 'faq' (query-params anchor='goodwill')}}
    </h2>
    <div {{bind-attr
    class=':goodwill totalGoodwillIsPositive:positive:negative'}}>
      {{totalGoodwill}}
    </div>
  </div>
</div>

<div class="wrapper">
  {{time-series-chart
    lineData=goodwillOverTime
    selectedSeedColor='rgb(62,27,144)'
  }}
</div>

<h2>Your pull request history</h2>
{{#each stat in stats}}
  <a target='_blank' {{bind-attr href='stat.htmlUrl'}} class='pr-stat'>
    <div class='left-1'>
      <div {{bind-attr class=':loc stat.isPositive:positive:negative'}}>
        {{#if metricIsScore}}
          {{stat.score}}
        {{else}}
          {{#if metricIsNum}}
            {{stat.num}}
          {{else}}
            {{stat.loc}}
          {{/if}}
        {{/if}}
      </div>
    </div>
    <div class='right-2'>
      {{#if stat.isPositive}}
        <h4>
          You reviewed a pull request by <strong>{{stat.author}}</strong>
        </h4>
      {{else}}
        <h4>{{{stat.formattedReviewers}}} reviewed your pull request</h4>
      {{/if}}
      <h4>{{stat.formattedDate}} in {{stat.repoName}}</h4>
    </div>
  </a>
{{/each}}

<div class='button-block'>
  {{link-to 'Back' 'step.repositories' class='back-btn'}}
  {{link-to 'Home' 'index' class='home-btn'}}
</div>
