<h1 class='title'>Username and Authentication</h1>
<h2>What is your GitHub username?</h2>
<div class='username-input'>
  {{input value=username}}
</div>

<h2>Want to analyze private repositories?</h2>
<p>
  You can skip this step if you only care about open-source repositories, but
  authenticating to GitHub will allow you to see private repositories. If you
  have a lot of data, this will also be necessary to avoid rate-limiting.
</p>
<p>
  To authenticate,
  <a href='https://github.com/settings/tokens/new'>generate a new Personal
  Access Token on GitHub</a>. These tokens exist for quick and easy use;
  you might use them if you were running a script you'd written locally.
  Goodwill runs a lot like a script. You only need to select "repo" and
  "user" permissions (or stick with the defaults).
  {{link-to '[?]' 'faq' (query-params anchor='tokens')}}
</p>
<p>
  Once you've generated your token, paste it below:
</p>
<div class='token-input'>
  {{input value=token}}
</div>

<div class='button-block'>
  {{link-to 'Home' 'index' class='home-btn'}}
  {{link-to 'Next' 'step.repositories' class='next-btn'}}
</div>
