<div class='welcome'>
  <div class='welcome-block'>
    <div class='project-header'>Review Your Code Reviews</div>
    <div class='description'>
      A self-assessment to see if you reviewed as much code for your team as
      they reviewed for you (GitHub only).
    </div>
    {{link-to 'Start' 'step.username' class='start-btn'}}
  </div>
  <p class='more-text'>Or, read more...</p>
</div>
<main class='index'>
  <h1>What is this?</h1>
  <p>
    Reciprocity is a little tool that measures how much you give and take when
    it comes to code review. It answers the question: "do I review as much code
    for other people as they review for me?"
  </p>
  <p>
    It only works with GitHub, but can analyze whichever repositories you
    choose - public or private.
  </p>
  <p>
    Reciprocity scans through all the pull requests in repositories you want to
    analyze, looking for comments that contain the phrase "LGTM" ("looks good
    to me"). If you reviewed someone else's code, you'll get "goodwill" points.
    If someone else reviewed your code, you'll lose goodwill points.
    {{link-to '[?]' 'faq' (query-params anchor='goodwill')}}
  </p>
  <p>
    Plus, cool stats! See your goodwill change over time, get a list of all the
    pull requests that involve you, and "score" pull requests using a variety
    of metrics.
    {{link-to '[?]' 'faq' (query-params anchor='metrics')}}
  </p>

  <h1>How does it work?</h1>
  <p>
    First, you'll enter your GitHub username and, optionally, authentication to
    analyze private repositories.
  </p>
  <p>
    Then you'll pick which repositories you want to analyze.
  </p>
  <p>
    Reciprocity will scan through every pull request in each repository you
    selected. It looks for comments that contain the phrase "LGTM", and
    determines the pull request author and reviewer(s).
    {{link-to '[?]' 'faq' (query-params anchor='reviewers')}}
  </p>
  <p>
    All of this information is then combined into analytics, so you can get a
    big picture view of your code review contributions.
  </p>
  
  <h1>More information</h1>
  <p>
    Check out the {{link-to 'frequently asked questions' 'faq' (query-params anchor='top')}} page.
  </p>

  <h1>About the author & project</h1>
  <p>
    Alex Zirbel is
    <a href="http://github.com/azirbel">azirbel</a> on GitHub, and
    <a href="http://www.twitter.com/alexzirbel">@alexzirbel</a> on Twitter.
  </p>
  <p>
    This project is open-source;
    <a href="https://github.com/azirbel/reciprocity">check it out on GitHub.</a>
  </p>
</main>
