<div>Select Repositories</div>

<br/><br/>
<div>Please select from starred repositories:</div>
{{#each repository in allRepositories}}
  <div>
    {{input type='checkbox' checkedBinding='repository.checked'}}
    <span>{{repository.name}}</span>
  </div>
{{/each}}

<br/><br/>

<div class='button-block'>
  {{link-to 'Back' 'username' class='back-btn'}}
  {{link-to 'Home' 'index' class='home-btn'}}
  {{link-to 'Next' 'results' class='next-btn'}}
</div>
