<h1 class='title'>Select Repositories</h1>

<p class='last'>Here's a list of your starred repositories. Please select which ones you'd
like to analyze.</p>

{{#each repoWrapper in displayRepoWrappers}}
  <div {{bind-attr class=':repository repoWrapper.checked:checked'}}
  {{action 'toggleChecked' repoWrapper.name bubbles=false}}>
    {{#if repoWrapper.checked}}
      {{fa-icon 'check-square-o'}}
    {{else}}
      {{fa-icon 'square-o'}}
    {{/if}}
    <span class='repo-name'>{{repoWrapper.name}}</span>
  </div>
{{/each}}

<div class='button-block'>
  {{link-to 'Back' 'username' class='back-btn'}}
  {{link-to 'Home' 'index' class='home-btn'}}
  {{link-to 'Next' 'results' class='next-btn'}}
</div>
